@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Poppins:wght@200;300;400;500&display=swap');

.posts {
    font-family: 'Noto Sans TC', sans-serif;
    min-height: 100vh;
    background-color: #F3F5F8;
    display: flex;
    justify-content: center;
}

.posts-container {
    width: 1000px;
    margin-top: 40px;
    padding: 40px 100px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.post {
    font-size: 14px;
    padding: 20px 0;
    border-bottom: 1px solid #E9E9E9;
}

.post-user label,
.post-footer label {
    color: #959595;
}

.post-user {
    display: flex;
    align-items: center;
}

.post-user img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
}

.post-content {
    margin: 12px 0;
    position: relative;
}

.post-content h3 {
    font-size: 17px;
    margin-bottom: 4px;
}

.post-content img {
    position: absolute;
    top: -10px;
    right: 0;
    width: 110px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}

.post-footer-like {
    display: flex;
    align-items: center;
}

.like-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(../images/like.png);
}