@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

.profile {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background-color: #F3F5F8;
    display: flex;
    justify-content: center;
}

.profile-container {
    width: 1000px;
    margin: 40px 0 20px; 
    padding: 40px 80px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.profile h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 12px;
    border-bottom: 2px solid #D9D9D9;
    margin-bottom: 40px;
}

.profile .collections {
    display: flex;
    flex-wrap: wrap;
}

.profile .collection{
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.profile .collection img{
    width: 400px;
    height: 176px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.profile .collection label{
    margin: 20px 12px;
}